@import url('https ://fonts.googleapis.com/css2 ?family=Roboto&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
html {
    font-size: 10px;
    /* 1 rem 10px */
  }
body{
    font-family: 'Roboto', sans-serif;
  font-size: 1.6rem;
}

/* modification de la deuxieme section */

.slider-area {
    height: 650px;
    width: 100%;
}

.slider-area .slider-item {
    height: 650px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.slider-area .slider-item .box {
    position: absolute;
    width: 100%;
    height: 650px;
    background-color: #00000050;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.slider-area .slider-item .box h1 {
    font-size: 70px;
   color: white;
   width: 100%;
   text-align: center;
   margin-top: 5px;
   text-align: center;
   width: 700px;
    transform: translateY(200px);
    opacity: 0;
    transition: all 1s ease;
}

.slider-area .slider-item img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.slider-area .slider-item p {
    font-size: 20px;
    color: white;
    width: 100%;
    text-align: center;
    text-align: center;
    margin-top: 30px;
    width: 800px;
    transform: translateX(400px);
    opacity: 0;
    transition: all 1s ease;
}

.slider-area .slider-item button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    background-color: #e4144d;
    color: white;
    margin-top: 30px;
    text-transform: capitalize;
    transform: translateX(-400px);
    opacity: 0;
    transition: all 1s ease;
}

.active .slider-item .box button {
    transform: translateX(0);
    opacity: 1;
    transition-delay: 1.3s;
}
.active .slider-item .box p {
    transform: translateX(0);
    opacity: 1;
    transition-delay: 1s;
}
.active .slider-item .box h1 {
    transform: translateY(0);
    opacity: 1;
    transition-delay: 0.5s;
}

 

 /* modification de la section 3 */

 .section3 {
    height: 300px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    /* background-color: #bbbbbb; */
 }

 .section3 div {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 70%;
    margin-bottom: 10px;
 }

 .section3 div img{
    height: 80px;
    width: 80px;
    margin-right: 50px;
 }




.categorie{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
    padding: 20px 80px;
}
.categorie .item{
    width: 180px;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border: 1px solid #8787876c;
    border-radius: 20px;
    margin: 0 15px;
}
.categorie .item img{
    height: 140px;
    width: 140px;
    border-radius: 50%;
    object-fit: cover;
}
.categorie .item p{
    font-size: 16px;
    margin: 5px 0;
    font-weight: 600;
}
.categorie .item span{
    font-size: 13px;
    font-style: italic;
}





 .affiches{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    margin: 10px 0;
    width: 100%;
    flex-direction: column;
 }
 .affiches .containe-box{
    display: flex;
    align-items: center;
    justify-content: center;
 }
 .affiches .box1{
   width: 90%;
 }
 .affiches .box1 h1{
    width: 60%;
    padding: 5px 20px;
    font-weight: 400;
    font-size: 30px;
    text-align: left;
    margin-left: 200px;
  }
  .affiches .box2{
    width: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  
  
  .affiches .box2  .slider{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-top: 20px;
  }
  .affiches .box2  .slider .item{
    height: 290px;
    width: 230px;
    border: 1px solid #0000004e;
    flex-direction: column;
    margin: 10px;
    border-radius: 10px;
    overflow: hidden;
  }
  .affiches .box2  .slider .item img{
    width: 100%;
    height: 200px;
    object-fit: cover;
  }
  .affiches .box2  .slider .item h4{
    text-align: left;
    font-size: 18px;
    font-weight: 200;
    width: 100%;
    margin-top: 10px;
    padding-left: 10px;
  }
  .affiches .box2 .slider .item p{
    font-size: 14px;
    width: 100%;
    margin-top: 10px;
    padding-left: 10px;
    font-weight: 700;
    font-family: Arial, Helvetica, sans-serif;
  }
  .affiches .box2 .slider .item p span{
    margin-right: 6px;
  }
  .affiches .box2 .slider .item p .span2{
    padding:0 2px;
    background-color: #ededed;
    color: #737373;
    text-decoration: line-through;
  }
  .affiches .box2 .slider .item p .span3{
    padding:0 2px;
    font-size: 12px;
    background-color: #ff5029;
    color: #ffffff;
  }

  .affiches .s_box2{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 550px;
    height: 700px;
    border: 1px solid #0000004e;
    position: relative;
    border-radius: 20px;
  }
  .affiches .s_box2 .explore{
    height: 100%;
    width: 100%;
    background-color: #0000004b;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
flex-direction: column;
border-radius: 20px;
  }
  .affiches  .s_box2 .explore p{
    font-size: 25px;
    color: #ffffff;
    background-color: #000000;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px 10px;
    border-radius: 10px;
  }
  .affiches  .s_box2 .explore p .span11,.span22{
    font-size: 60px;
    margin: 0 20px;
  }
  .affiches  .s_box2 .explore a{
    padding: 8px 20px;
    background-color: #e4144d;
    color: #ffffff;
    font-size: 20px;
    margin-top: 30px;
    border-radius: 10px;
  }
  .affiches  .s_box2 .slider{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 700px;
    border-radius: 20px;
  }
  .affiches  .s_box2 .slider img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 20px;
  }

 
/* produit_vedete */


.produit_vedete{
   height: 500px;
   width: 100%;
   display: flex;
   align-items: center;
   justify-content: center;
   flex-direction: column;
   margin-top: 30px;
}

.produit_vedete h1{
    margin-bottom: 25px;
    text-transform: uppercase;
    font-weight: 200;
}

.produit_vedete .box1{
    display: flex;
    align-items: center;
    justify-content: center;
}
.produit_vedete .box1 span{
    height: 2px;
    background-color: #e4144d;
    width: 100px;
}
.produit_vedete .articles{
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.produit_vedete .articles .carousel{
    height: 340px;
    width: 220px;
    background-color: rgba(247, 247, 247, 0.499);
    border-radius: 5px;
    overflow: hidden;
    border: 1px solid rgba(105, 103, 103, 0.257);
    box-shadow: 7px 6px 10px -5px #00000093;
    transition: all 0.5s ease-in-out;
    position: relative;
}


.produit_vedete .articles .carousel:hover{
    transform: scale(1.05);
}

.produit_vedete .articles .carousel img{
    height: 200px;
    width: 100%;
    object-fit: cover;
    border-bottom: 1px solid rgba(148, 146, 146, 0.499);
}

.produit_vedete .articles .carousel #nom{
    font-weight: 400;
    overflow: hidden;
    font-size: 20px;
    width: 100%;
    margin:10px;
    padding-left:10px ;
}
.produit_vedete .articles .carousel #ville{
    font-size: 14px;
    color: #484848;
    text-transform: capitalize;
    width: 100%;
    margin:10px;
    padding-left:10px ;
}
.produit_vedete .articles .carousel .prix {
    font-size: 14px;
    width: 100%;
    margin:10px;
    padding-left:10px ;
    font-family: Arial, Helvetica, sans-serif;
}
.produit_vedete .articles .carousel .prix .span1{
    color: #e4144d;
    font-size: 11px;
}
.produit_vedete .articles .carousel .prix .span2{
    padding:0 2px;
    background-color: #ededed;
    color: #737373;
    text-decoration: line-through;
}
.produit_vedete .articles .carousel .prix .span3{
    padding:0 2px;
    font-size: 12px;
    background-color: #ff5029;
    color: #ffffff;
}

.produit_vedete .articles .carousel a{
    width: 200px;
    padding: 5px 15px;
    background-color: #e4144d;
    margin-left: 50% ;
    color: white;
    text-decoration: none;
    font-size: 15px;
    border-radius: 10px;
    display: block;
    margin-top:10px ;
    transition: all 0.5s ease-in-out;
    position: absolute;
    bottom: 10px;
    right: -100px;
}
.produit_vedete .articles .carousel a:hover{
    background-color: #2C3E50;
}


.produit_vedete .box2{
    width: 70%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
}

.produit_vedete .box2 span{
    height: 40px;
    width: 50px;
    background-color: #2C3E50;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 7px;
    transition: all 0.5s ease-in-out;
}
.produit_vedete .box2 p{
    font-size: 20px;
}
.produit_vedete .box2 span:hover{
    transform: scale(1.1);
    background-color: #e4144d;
}
.produit_vedete .box2 span{
    color: white;
    font-size: 25px;
}



/* footer */

footer{
    height: 74px;
    background-color: #2C3E50;
    display: flex;
    align-items: center;
    justify-content: center;
    }
    footer span{
    color: white;
    font-size: 15px;
    font-weight: lighter;
    font-style: italic;
    font-family: 'Nunito', sans-serif;
}



/* modification de la quatrieme section */

.section4{
    height: 400px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    margin: 30px 0;
}
.section4 .slider{
    display: flex;
    height: 500px;
    width: 100%;
    position: relative;
    background-image: url(/image/chemise.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    flex-direction: column;
}
.section4 .slider p{
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%);
    color: #ffffff;
}
.section4 .slider a{
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    position: absolute;
    top: 65%;
    left: 50%;
    transform: translate(-50%);
    color: #000000;
    padding: 10px 30px;
    background-color: #ffffff;
    text-decoration: none;
}
.section4 .slider .box{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.section4 .slider .box .text{
    position: absolute;
    width: 50%;
    height: 120px;
    background-color: #00000050;
    top: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    letter-spacing: 1px;
}
.section4 .slider .box .text h1{
   font-size: 60px;
   color: white;
   font-family: 'Almarai', sans-serif;
   width: 100%;
   text-align: center;
   margin-top: 5px;
   text-align: center;
   text-transform: uppercase;
   padding:5px 30px;
   font-size: 25px;
}

/* .section{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 70px;
}
.trending {
    background-color: #000000;
    padding: 8rem 4rem;
    width: 80%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(22rem, 1fr));
    grid-gap: 2rem;
    align-items: center;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
  }
  .trending_img {
    width: 100%;
  }
  .trending_p {
    color: green;
  }
  .trending_title {
    color: white;
    font-size: 4rem;
    margin-top: 1rem;
    margin-bottom: 3rem;
  }
  .trending_btn {
    background-color: green;
    padding: 1rem 2rem;
    color: white;
  } */

/* partie product affiche  */

.produit_afiche{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    position: relative;
    margin: 50px 0;
}

.produit_afiche .box{
    height: 600px;
    width: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.produit_afiche .box img{
    height: 600px;
    width: 500px;
    object-fit: cover;
}
.produit_afiche .box  h1{
    font-size: 80px;
    margin: 10px 80px;
    text-transform: uppercase;
}

.section5{
    height: 400px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    flex-direction: column;
}
.section5 h1{
    width: 60%;
    text-align: left;
    font-size: 30px;
    margin: 20px 0;
}
.section5  .container{
    display: flex;
    width: 100%;
    justify-content: center;
    flex-wrap: wrap;
}
.section5 .slider{
    width: 600px;
    height: 300px;
    border: 1px solid #bbbbbb;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    margin-left: 30px;
}
.section5 .slider img{
    height: 100%;
    width: 400px;
    object-fit: cover;
}
.section5 .slider .box{
    height: 100%;
    width: 250px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.section5 .slider .box h4{
    padding: 10px;
    font-size: 20px;
    text-align: center;
    text-transform: uppercase;
}
.section5 .slider .box a{
    padding: 15px 15px;
    font-size: 13px;
    text-align: center;
    background-color: #000000;
    color: #ffffff;
}
